.post-heading {
  color: #145374;
}
.page-heading {
  font-weight: normal;
  border-radius: 12px;
  cursor: pointer;
}

.post-title {
  color: #00334e;
}
.navbar {
    background-color: #e8e8e8;
}

h2 {
  color: #145374;
}

figure {
  color : #00334e;
  padding: 20px;
  margin: 40px;
  background-color: #e8e8e8;
  border-radius: 12px;
  border-left-width: 0px;
  float: left;
}

figcaption {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}
